In [78]:
import scipy.stats as stats
import warnings
warnings.filterwarnings("ignore")
from scipy.stats import chi2_contingency

## Question - 1
A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

#### <font color='Green'> We will conducting 2 tailed t- test on the given sample to test that the mean of both samples are different. </font>
#### Null Hypothesis : µ1=µ2
#### Alternate Hypothesis : µ1≠ µ2
#### Alpha =0.05 , Alpha for two tailed =0.025

### Loading dataset for testing

In [79]:
df1 =pd.read_csv(r'C:\Users\DELL\Downloads\cutlets.csv')
df1.head(10)

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522
5  7.3871  6.8110
6  6.8755  7.2212
7  7.0621  6.6606
8  6.6840  7.2402
9  6.8236  7.0503

#### Calculating the p value for  samples for interpreting the result

In [80]:
statistic , p_value = stats.ttest_ind(df1['Unit A'],df1['Unit B'], alternative = 'two-sided')
print('p_value=',p_value)

p_value= 0.4722394724599501

#### Compare p_value with 
#### If p_value is ≠ alpha :- we failed to reject Null Hypothesis because of lack of evidence
#### If p_value is = alpha :- we reject Null Hypothesis
interpreting p-value

In [81]:
alpha = 0.025
print('Significnace=%.3f, p=%.3f' % (alpha, p_value))
if p_value <= alpha:
    print('We reject Null Hypothesis there is a significance difference between two Units A and B')
else:
    print('We fail to reject Null hypothesis')

Significnace=0.025, p=0.472
We fail to reject Null hypothesis

#### <font color= 'Brown' > We fail to reject Null Hypothesis.There is no significant difference between the both units. </font>

***

### Question 2
### A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch. Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

#### Loading the TAT reports from laboratories

In [82]:
df2 =pd.read_csv(r'C:\Users\DELL\Downloads\LabTAT.csv')
df2.head(10)

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60
5        179.45        197.00        181.51        161.12
6        191.37        166.36        214.21        154.02
7        166.81        169.60        183.43        163.25
8        158.81        175.36        191.60        152.79
9        165.88        198.68        208.43        161.98

#### <font color='Green'>We will be performing Anova test  to verify if the mean of samples are different or same.</font>

#### Null Hypothesis : µ1=µ2=µ3=µ4
#### Alternated Hypothesis : Atleast one is different
#### Alpha= 0.05

##### Finding the t-statistics values

In [83]:
test_statistic , p_value = stats.f_oneway(df2.iloc[:,0],df2.iloc[:,1],df2.iloc[:,2],df2.iloc[:,3])
print('p_value =',p_value)

p_value = 2.1156708949992414e-57

#### Compare p_value with 
#### If p_value is ≠ alpha :- we failed to reject Null Hypothesis because of lack of evidence
#### If p_value is = alpha :- we reject Null Hypothesis
interpreting p-value

In [84]:
alpha = 0.05
print('Significnace=%.3f, p=%.3f' % (alpha, p_value))
if p_value <= alpha:
    print('We reject Null Hypothesis there is a significance difference between TAT reports for laboratories')
else:
    print('We fail to reject Null hypothesis')

Significnace=0.050, p=0.000
We reject Null Hypothesis there is a significance difference between TAT reports for laboratories

#### <font color = ' Brown'>Hence, we failed to accept null hypothesis , there is significant difference between the TAT reports.</font>

***

### Question 3
#### Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [85]:
df3 =pd.read_csv(r'C:\Users\DELL\Downloads\BuyerRatio.csv')
df3

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

#### <font color='Green' > We will be using Chi Square Test for giving the hypothesis.</font>

#### Null Hypothesis: There is no association or dependency between the gender based buyer rations across regions
#### Alternative Hypthosis: There is a significant association or dependency between the gender based buyer rations across regions
#### Alpha = 0.05

In [86]:
obs=np.array([[50,142,131,70],[435,1523,1356,750]])
obs

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

#### Applying Chi square test

In [87]:
chi2, p, dof, exp=chi2_contingency(obs)
print('CHI2 =',chi2,"\n", 'P =',p,"\n", 'DF =',dof,"\n", 'Expected values =',exp)

CHI2 = 1.595945538661058
 P = 0.6603094907091882
 DF = 3
 Expected values = [[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

In [88]:
observed = np.array([50, 142, 131, 70, 435, 1523, 1356, 750])
expected = np.array([42.76531299,  146.81287862,  131.11756787, 72.30424052, 442.23468701, 1518.18712138, 1355.88243213, 747.69575948])

#### Compare p_value with
#### If p_value is ≠ alpha :- we failed to reject Null Hypothesis because of lack of evidence
#### If p_value is = alpha :- we reject Null Hypothesis

In [89]:
if p < 0.05:
    print('Reject Null Hypothesis. There is no association or dependency between the gender based buyer rations across regions.')
else:
    print('Fail to reject null hypothesis.')

Fail to reject null hypothesis.

#### <font color ='Brown'>There is no association or dependency between the gender based buyer rations across regions</font>

***

#### Question 4

#### TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences.

In [90]:
df4 =pd.read_csv(r'C:\Users\DELL\Downloads\Costomer+OrderForm.csv')
df4.head(10)

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free
5   Error Free  Error Free  Error Free  Error Free
6   Error Free   Defective  Error Free  Error Free
7   Error Free  Error Free  Error Free  Error Free
8   Error Free  Error Free  Error Free  Error Free
9   Error Free  Error Free  Error Free  Error Free

#### <font color= 'Green'> We will be using Chi Square Method to analyse the data.</font>

#### Null Hypothesis : µ1=µ2=µ3=µ4
#### Alternated Hypothesis : Atleast one is different
#### Alpha= 0.05

#### Finding the count of Error Free and Defective orders fron given dataset to build contigency table

In [91]:
print(df4['Phillippines'].value_counts(),'\n',df4['Indonesia'].value_counts(),'\n', df4['Malta'].value_counts(),'\n', df4['India'].value_counts())

Phillippines
Error Free    271
Defective      29
Name: count, dtype: int64
 Indonesia
Error Free    267
Defective      33
Name: count, dtype: int64
 Malta
Error Free    269
Defective      31
Name: count, dtype: int64
 India
Error Free    280
Defective      20
Name: count, dtype: int64

In [92]:
contigency_table=[[271,267,269,280],
                    [29,33,31,20]]
contigency_table

[[271, 267, 269, 280], [29, 33, 31, 20]]

#### Calculating Chi Square statistics

In [93]:
stat, p, df, exp = chi2_contingency(contigency_table)
p

0.2771020991233135

#### Compare p_value with
#### If p_value is ≠ alpha :- we failed to reject Null Hypothesis because of lack of evidence
#### If p_value is = alpha :- we reject Null Hypothesis

In [94]:
if p < 0.05:
    print('Reject Null Hypothesis.The defective % varies across the centers.')
else:
    print('Fail to reject null hypothesis.')

Fail to reject null hypothesis.

#### <font color= 'Brown'> We fail to reject Null hypothesis. The defective % doesn't varies across the centers </font>

***